<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>

<%= @cocktail.name %>
<% @cocktail.doses.each do |dose| %>
<%= dose.ingredient.name %>
<br>
<%= dose.description  %>
<p>###################</p>

<% end %>

<%= link_to "Go back to cocktail overview", cocktails_path  %>